<html>
<head><title>Manneh</title></head>

<body>
    <p1>Test</p1>
     {% block content %}
    {% endblock %}
{{ name }}
    <ul>
    {% for k,v in object.member_choice%}
        <li> key = {{k}}, value = {{v}}</li>
        {%endfor%}
    </ul>

      <ul>
    {% for v in object%}
        <li>Name :{{v.surname}}</li>
        {%endfor%}
    </ul>

      <ul>
    {% for v in object%}
          {{v.surname}}
        {%for k,i in v.member_choice%}
          <li>key = {{k}},  value = {{i}}</li>
          {%endfor%}
        {%endfor%}
       
    </ul>
    <a href="{% url 'create' %}">Create</a>
    <p>
    {% for v in object%}
        <p>{{v.id}} - <a href="{{ v.get_absolute_url }}"> {{v.surname}}</a ></p>
        {%endfor%}
    </p>
</body>
</html>
